@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --NEUTRAL-900: #062630;
  --NEUTRAL-700: #385159;
  --NEUTRAL-200: #E6E1DF;
  --NEUTRAL-100: #FAF5F3;
  --NEUTRAL-0: #ffffff;
  --LIGHT-SALMON-500: #FEA36F;
  --LIGHT-SALMON-100: #FFF5EF;
  --LIGHT-SALMON-50: #FFF5EF;

  /* GRADIENTS */
  --TEXT-GRADIENT:linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
  --GRADIENT:linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
  --GRADIENT-2:linear-gradient(90deg, #385159 0%, #062630 100%);

  /* SHADOW */
  --SHADOW-1: 0px 0px 0px 3px var(--NEUTRAL-0);
  --SHADOW-2: 0px 0px 0px 5px var(--NEUTRAL-700);
  --SHADOW-3: 0px 0px 0px 3px var(--NEUTRAL-900);
  --SHADOW-4: 0px 0px 0px 5px var(--NEUTRAL-200);


  /* TYPOGRAPHY */
  --FF1: "Martian Mono", monospace;
  --FF2:  "Inter", sans-serif;

  /* TYPE PRESET*/
  --TEXT-PRESET-1: bold 3.9375rem/120% var(--FF1);
  --TEXT-PRESET-2: bold 3.125rem/130% var(--FF1);
  --TEXT-PRESET-JOURNEY-T: bold 3.125rem/120% var(--FF1);
  --TEXT-PRESET-3: bold 2.125rem/130% var(--FF1);
  --TEXT-PRESET-4: bold 1.5rem/110% var(--FF1);
  --TEXT-PRESET-NUMBER: normal 1.5rem/1.5rem var(--FF1);
  --TEXT-PRESET-4-REGULAR: normal 1.5rem/120% var(--FF1);
  --TEXT-PRESET-5: normal 1.3125rem/140% var(--FF2);
  --TEXT-PRESET-5-SEMIBOLD: bold 1.25rem/140% var(--FF2);
  --TEXT-PRESET-6: bold 1.125rem/130% var(--FF1);
  --TEXT-PRESET-7: normal .875rem/120% var(--FF1);

  /* TYPE PRESET MOBILE*/
  --TEXT-PRESET-1-MOB: bold 2.375rem/120% var(--FF1);
  --TEXT-PRESET-2-MOB: bold 2.125rem/130% var(--FF1);
  --TEXT-PRESET-3-MOB: bold 1.5rem/110% var(--FF1);
  --TEXT-PRESET-6-MOB: bold 1rem/130% var(--FF1);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--NEUTRAL-0);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
}


a:any-link {
  text-decoration: none;
}

/* HEADER */
.tech-book-club__header {
  width: 100%;
  height: 1103.89px;
  background-color: var(--NEUTRAL-100);
  padding: 1.5rem 1rem 5rem 1rem;

  background-image: url("/images/mobile-bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
}

/* HEADER LOGO */
.header__logo-container {
  width: 343px;
  margin: 0rem auto;
}

.header__logo {
  width: 192.86px;
  height: 36px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER CONTENT */
.header__content {
  min-height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
}

.header__text-content {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.header__text-content-hero {
  width: 100%;
  display: flex;
  flex-flow: column;
  
  gap: 1.5rem;
}

.header__text-content-hero-title {
  font: var(--TEXT-PRESET-1-MOB);
  letter-spacing: -2px;
  background-image: var(--TEXT-GRADIENT);
  background-clip: text;
  color: transparent;
  max-width: 343px;
}

.header__text-content-hero-subtitle {
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.5px;
  color: var(--NEUTRAL-700);
  max-width: 343px;
}

/* HEADER CTA */
.header__text-content-cta,
.footer__text-content-cta {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
  max-width: 343px;
}

.header__text-content-cta-button,
.footer__text-content-cta-button {
  width: 343px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.5rem;
  gap: 1rem;

  background-color: var(--LIGHT-SALMON-50);
  border: 2px solid var(--NEUTRAL-900);
  border-radius: 8px;

  font: var(--TEXT-PRESET-6-MOB);
  color: var(--NEUTRAL-900);
  letter-spacing: -1px;

  text-wrap: nowrap;
}

/* HEADER CTA REVIEW */
.header__text-content-cta-rating,
.footer__text-content-cta-rating {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.header__text-content-cta-rating-images, 
.footer__text-content-cta-rating-images {
  display: flex;
  width: 110px;
  height: 62px;
}

.header__text-content-cta-rating-images-container, 
.footer__text-content-cta-rating-images-container {
  position: relative;

}

.header__text-content-cta-rating-image, 
.footer__text-content-cta-rating-image {
  width: 40px;
  height: 40px;
  border: 2px solid var(--NEUTRAL-0);
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 11px;
  left: 0px;
}

.two {
  top: 11px;
  left: 35px;
  z-index: 1;
}

.three {
  top: 11px;
  left: 70px;
  z-index: 1;
}

.header__text-content-cta-rating-image img,
.footer__text-content-cta-rating-image img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.header__text-content-cta-rating-content,
.footer__text-content-cta-rating-content {
  display: flex;
  flex-flow: column;
  gap: .25rem;
}

.header__text-content-cta-rating-content-stars, 
.footer__text-content-cta-rating-content-stars {
  display: flex;
}

.header__text-content-cta-rating-content-star, 
.footer__text-content-cta-rating-content-star {
  width: 24px;
  height: 24px;
}

.header__text-content-cta-rating-content-star img, 
.footer__text-content-cta-rating-content-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__text-content-cta-rating-content-text,
.footer__text-content-cta-rating-content-text {
  font: var(--TEXT-PRESET-7);
  letter-spacing: -1px;
  color: var(--NEUTRAL-700);
}

.footer__text-content-cta-rating-content-text {
  color: var(--NEUTRAL-0);
}

/* HEADER HERO IMAGE */
.hero-image {
  width: 343px;
  height: 371.89px;
  border-radius: 8px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN */
.tech-book-club__main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
  padding: 0rem 1rem;
}

/* MAIN LEFT */
.main__features-container {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.checklist {
  max-width: 328px;
  list-style: none;
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.0313rem;
  color: var(--NEUTRAL-700);
  
}

.checklist li {
  margin-bottom: 1rem;
  background-image: url(./images/check_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 50% ;
  padding-left: 42px;
}

.main-images {
  width: 343px;
  height: 318.5px;
  border-radius: .5rem;
  overflow: hidden;
}

.image-read-together img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN LEFT TEXT CONTENT */
.main__features-text-content {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  position: relative;
}

.main__features-text-content-title1 {
  font: var(--TEXT-PRESET-2-MOB);
  letter-spacing: -2px;
  color: var(--NEUTRAL-900);
  max-width: 343px;
}

/* MAIN RIGHT TEXT CONTENT */
.image-right {
  display: flex;
  flex-flow: column-reverse;
}

.main__features-text-content-title2 {
  font: var(--TEXT-PRESET-2-MOB);
  letter-spacing: -2px;
  color: var(--NEUTRAL-900);
  max-width: 343px;
}

.pattern-circle {
  width: 108.62px;
  height: 46.58px;
  position: absolute;
  top: 87px;
  left: -7px;
}

.main__features-text-content-subtitle {
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.5px;
  color: var(--NEUTRAL-700);
  max-width: 343px;
}

/* MAIN MEMBERSHIP */
.main__membership-container {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.main__membership-title {
  font: var(--TEXT-PRESET-2-MOB);
  letter-spacing: -2px;
  color: var(--NEUTRAL-900);
  max-width: 343px;
}

.main__membership-subscriptions {
  max-width: 340px;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.main__membership-subscription {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 1.5rem;
  background-color: var(--NEUTRAL-0);
  border: .0625rem solid var(--NEUTRAL-200);
  border-radius: .5rem;
}

.main__membership-subscription-text {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

/* MAIN MEMBERSHIP TEXT */
.main__membership-subscription-title {
  font: var(--TEXT-PRESET-4);
  letter-spacing: -1px;
  color: var(--NEUTRAL-900);
}

.main__membership-subscription-monthly {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.price {
  font: var(--TEXT-PRESET-3-MOB);
  letter-spacing: -1px;
  color: var(--NEUTRAL-900);
}

.label {
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.5px;
  color: var(--NEUTRAL-700);
}

.line {
  width: 292px;
  height: 1px;
  background-color: var(--NEUTRAL-200);
}

/* MAIN MEMBERSHIP FEATURES */
.main__membership-subscription-features {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.main__membership-subscription-feature {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.membership__check-icon {
  width: 24px;
  height: 24px;
}

.membership__check-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.membership__label {
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.5px;
  color: var(--NEUTRAL-700);
}

/* MAIN MEMBERSHIP CTA BUTTON */
.membership__cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.25rem;

  outline: none;
  border-style: none;

  background-color: var(--LIGHT-SALMON-50);
  border: 2px solid var(--NEUTRAL-900);
  border-radius: .5rem;

  font: var(--TEXT-PRESET-6-MOB);
  color: var(--NEUTRAL-900);
  letter-spacing: -1px;
}

.middle {
  background-color: var(--LIGHT-SALMON-50);
  background-image: url(./images/mobile_member_blue_blur.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 340px 276px;
}

/* MAIN QUOTE */
.main__quote-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.quote-rating-content-stars {
  display: flex;
  align-items: center;
  gap: .375rem;
}

.quote-rating-content-star {
  width: 28px;
  height: 28px;
}

.quote-rating-content-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-rating-content-text {
  font: var(--TEXT-PRESET-3-MOB);
  letter-spacing: -1px;
  color: var(--NEUTRAL-900);
  max-width: 343px;
}

.quote-rating-content-text-author {
  font: var(--TEXT-PRESET-5);
  letter-spacing: -0.5px;
  color: var(--NEUTRAL-700);
}

/* FOOTER */
.tech-book-club__footer {
  width: 100%;
  min-height: 541px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
  border-radius: 1rem 1rem 0rem 0rem;

  background-color: var(--NEUTRAL-900);
  background-image: url(./images/mobile-bg-pattern-down.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer__text-content-cta {
  max-width: 343px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 1rem 0rem 1rem;
}

.footer__text-content-cta-title {
  font: var(--TEXT-PRESET-2-MOB);
  letter-spacing: -2px;
  color: var(--LIGHT-SALMON-50);
  max-width: 343px;
}

/* FOOTER CTA */
.footer__text-content-cta-button-container {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.footer__text-content-cta-button {
  background-color: var(--NEUTRAL-900);
  color: var(--NEUTRAL-0);
  border: .125rem solid var(--NEUTRAL-0);
}

/* FOOTER BASE SECTION */
.footer__base-content {
  width: 343px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem 2rem;
  border-top: .0625rem solid var(--NEUTRAL-700);
}

.footer__base-text-content {
  font: var(--TEXT-PRESET-7);
  letter-spacing: -1px;
  color: var(--LIGHT-SALMON-50);
}

.footer_social-media {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    position: relative;
    gap: 5rem;
  }

  /* HEADER */
  .tech-book-club__header {
    height: 1565px;
    padding: 2rem 2rem 5rem 2rem;

    background-image: url("./images/Tablet-bg-pattern-top.svg"), url("./images/tablet_header_blue_blur.svg");
    background-size: 100% 100%, 542px 605px;
    background-position: top left, right bottom;
    gap: 4rem;
  }

  /* HEADER CONTENT */
  .header__logo-container {
    width: 704px;
  }

  .header__text-content-hero-title {
    font: var(--TEXT-PRESET-1);
    max-width: 704px;
  }
    
  .header__text-content-hero-subtitle {
    max-width: 704px;
  }

  /* HEADER CTA */
  .header__text-content-cta,
  .footer__text-content-cta {
    max-width: 388px;
  }

  .header__text-content-cta-button,
  .footer__text-content-cta-button {
    width: 380px;

    font: var(--TEXT-PRESET-6);
    
  }

  /* HEADER CTA REVIEW */
  .header__text-content-cta-rating,
  .footer__text-content-cta-rating {
    gap: .75rem;
  }

  .header__text-content-cta-rating-images, 
  .footer__text-content-cta-rating-images {
    height: 40px;
  }

  .header__text-content-cta-rating-image, 
  .footer__text-content-cta-rating-image {
    top: 2px;
  }

  .two {
    top: 2px;
  }

  .three {
    top: 2px;
  }
  
  /* HEADER HERO IMAGE */
  .hero-image {
    display: none;
  }

  .tablet-hero-image {
    display: block;
    max-width: 704px;
    height: 798px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .tablet-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MAIN */
  .tech-book-club__main {
    gap: 5rem;
    padding: 0rem 2rem;
  }

  /* MAIN LEFT */
  .checklist {
    max-width: 704px;
  }

  .checklist li {
    margin-bottom: 1.5rem;
  }

  .main-images {
    display: none;
  }

  .tablet-main-images {
    display: block;
    width: 704px;
    height: 653.71px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .tablet-main-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MAIN LEFT TEXT CONTENT */
  .main__features-text-content {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-flow: column;
    gap: 2.125rem;
    position: relative;
  }

  .main__features-text-content-title1 {
    font: var(--TEXT-PRESET-2);
    max-width: 704px;
  }

  /* MAIN RIGHT TEXT CONTENT */
  .image-right{
    position: relative;
  }

  .main__features-text-content-title2 {
    font: var(--TEXT-PRESET-2);
    max-width: 534px;
    margin-top: 0rem;
  }

  .pattern-circle {
    width: 158.9px;
    height: 68.06px;
    top: 67px;
    left: 149px;
  }

  .main__features-text-content-subtitle {
    max-width: 704px;
  }

  .main__features-technologies-logos {
    display: block;
    width: 119.56px;
    height: 138px;

    display: flex;
    flex-flow: column;
    position: relative;
    position: absolute;
    top: 742px;
    right: 50px;
  }

  .technologies-logo {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0px;
    left: 20.5px;
  }

  .technologies-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .technologies-logos {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .technologies-logo-git {
    width: 55px;
    height: 55px;
  }

  .technologies-logo-git img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .technologies-logo-react {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 76.56px;
  }

  .technologies-logo-react img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MAIN MEMBERSHIP */
  .main__membership-container {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
  }

  .main__membership-title {
    font: var(--TEXT-PRESET-2);
    max-width: 704px;
  }

  .main__membership-subscriptions {
    max-width: 704px;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
  }

  .membership-top {
    width: 704px;
    display: flex;
    gap: 1.5rem;
  }

  .main__membership-subscription {
    width: 340px;
    height: 358px;
  }

  /* MAIN MEMBERSHIP TEXT */
  .price {
    font: var(--TEXT-PRESET-3);
  }

  /* MAIN MEMBERSHIP CTA BUTTON */
  .membership__cta-button {
    font: var(--TEXT-PRESET-6);
  }

  .middle {
    background-image: url(./images/tablet_member_blue_blur.svg);
    background-size: 340px 279px;
  }

  /* MAIN QUOTE */
  .quote-rating-content-text {
    font: var(--TEXT-PRESET-3);
    max-width: 704px;
  }

  /* FOOTER */
  .tech-book-club__footer {
    min-height: 505px;
    gap: 4rem;
    padding: 4rem 2rem 0rem 2rem;

    background-image: url(./images/Tablet-bg-pattern-down.svg);
    background-size: 100% 100%;
  }

  .footer__text-content-cta {
    max-width: 704px;
  }


  .footer__text-content-cta-title {
    font: var(--TEXT-PRESET-2);
    max-width: 685px;
  }

  /* FOOTER CTA */
  .footer__text-content-cta-button-container {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    max-width: 388px;
  }

  /* FOOTER BASE SECTION */
  .footer__base-content {
    width: 768px;
    flex-flow: row;
    justify-content: space-between;
  }

}

@media screen and (min-width: 992px) {
  body {
    gap: 7.5rem;
  }

  /* HEADER */
  .tech-book-club__header {
    height: 834px;
    padding: 2rem 8.4375rem 5rem 8.4375rem;

    background-image: url("./images/desktop-top-bg-pattern.svg"), url("./images/desktop_header_blue_blur.svg");
    background-size: 100% 100%, 546px 690px;
    background-position: top left, right bottom;
    gap: 5rem;
  }

  /* HEADER CONTENT */
  .header__logo-container {
    width: 1184.06px;
  }

  .header__content {
    min-height: 606px;
    flex-flow: row;
  }

  .header__text-content-hero-title {
    max-width: 570px;
  }
    
  .header__text-content-hero-subtitle {
    max-width: 570px;
  }

  /* HEADER HERO IMAGE */
  .tablet-hero-image {
    display: none;
  }

  .desktop-hero-image {
    display: block;
    max-width: 536px;
    height: 606px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .desktop-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MAIN */
  .tech-book-club__main {
    gap: 7.5rem;
    padding: 0rem 0rem;
  }

  /* MAIN LEFT */
  .image-left{
    max-width: 1170px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    gap: 5rem;
  }

  .checklist {
    max-width: 431px;
  }

  .tablet-main-images {
    display: none;
  }

  .desktop-main-images {
    display: block;
    width: 560px;
    height: 520px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .desktop-main-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MAIN LEFT TEXT CONTENT */
  .main__features-text-content {
    width: 530px;
  }

  .main__features-text-content-title1 {
    max-width: 530px;
  }

  /* MAIN RIGHT TEXT CONTENT */
  .main__features-container {
    max-width: 1170px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    gap: 5rem;
  }

  .main__features-text-content-title2 {
    max-width: 530px;
  }

  .main__features-text-content-subtitle {
    max-width: 530px;
  }

  .main__features-technologies-logos {
    top: 351px;
    right: 520px;
  }

  /* MAIN JOURNEY CONTENT */
  .main__journey-container {
    display: block;
    width: 1170px;
    height: 454.02px;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0rem;

    background-color: var(--LIGHT-SALMON-50);
    border-radius: .75rem;
    background-image: url("./images/desktop_flow_bg_pattern.svg"), url("./images/desktop_flow_blue_blur.svg");
    background-repeat: no-repeat;
    background-size: 1170px 455px, 428px 454px;
    background-position: top left, bottom right;
  }

  .main__journey-title {
    font: var(--TEXT-PRESET-JOURNEY-T);
    letter-spacing: -4px;
    color: var(--NEUTRAL-900);
    max-width: 512px;
    text-align: center;
  }

  .main__journey-steps {
    width: 1050px;
    display: flex;
    gap: 3rem;
  }

  .main__journey-step {
    width: 226.5px;
    height: 110px;

    display: flex;
    flex-flow: column;
    gap: 1.5rem;
  }

  .main__journey-step-orders {
    display: flex;
    justify-content: space-between;
  }

  .main__journey-step-order {
    width: 40px;
    height: 40px;
    border: 2px solid var(--NEUTRAL-900);
    border-radius: 4px;
    padding: .25rem 0rem;

    display: grid;
    place-content: center;

    font: var(--TEXT-PRESET-NUMBER);
    letter-spacing: -1px;
    color: var(--NEUTRAL-900);
  }

  .forward-arrow {
    width: 76.74px;
    height: 20.51px;
  }

  .forward-arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main__journey-step-content {
    font: var(--TEXT-PRESET-6);
    letter-spacing: -1px;
    color: var(--NEUTRAL-900);
  }

  /* MAIN MEMBERSHIP */
  .main__membership-container {
    width: 970px;
    height: 519px;
    align-items: center;
    gap: 4rem;
  }

  .main__membership-title {
    max-width: 970px;
  }

  .main__membership-subscriptions {
    max-width: 970px;
    flex-flow: row;
    align-items: center;
  }

  .membership-top {
    width: 660px;
    align-items: center;
  }

  .main__membership-subscription {
    width: 286px;
    height: 358px;
  }

  /* MAIN MEMBERSHIP TEXT */
  .line {
    width: 238px;
  }

  /* MAIN MEMBERSHIP CTA BUTTON */
  .membership__cta-button {
    height: 63px;
  }

  .middle {
    width: 350px;
    height: 390px;
    background-image: url(./images/desktop_member_blue_blur.svg);
    background-size: 350px 296px;
  }


  /* MAIN QUOTE */
  .main__quote-container {
    width: 970px;
    height: 296px;
    align-items: center;
  }

  .quote-rating-content-text {
    max-width: 100%;
    text-align: center;
  }


  /* FOOTER */
  .tech-book-club__footer {
    min-height: 521px;
    gap: 4rem;
    padding: 5rem 8.4375rem 0rem 8.4375rem;

    background-image: url(./images/desktop-buttom-bg-pattern.svg);
    background-size: 100% 100%;
  }

  .footer__text-content-cta {
    max-width: 753px;
  }

  /* FOOTER BASE SECTION */
  .footer__base-content {
    width: 1170px;
  }


  /* DESKSTOP HOVER */
  .header__text-content-cta-button:hover,
  .membership__cta-button:hover {
    background-image: var(--GRADIENT);
    cursor: pointer;
  }

  .footer__text-content-cta-button:hover {
    background-image: var(--GRADIENT-2);
    cursor: pointer;
  }

  /* FOCUS HOVER */
  .header__text-content-cta-button:focus,
  .membership__cta-button:focus {
    box-shadow: var(--SHADOW-1), var(--SHADOW-2);
  }

  .footer__text-content-cta-button:focus {
    box-shadow: var(--SHADOW-3), var(--SHADOW-4);
  }
}
